body {background: #f2f2f2;}

.row {max-width: 58em;}

#main {min-height: 400px;}
#main hr{border-style: dashed;}
#main hr:last-of-type {border: 0;}

h1 {font-size: 1.7rem;}

h1, h2, h3, h4, h5, h6 {color: #222222;}
p, li {color: #707070; font-size: 13.5px;}
a {color: #1ABC9C;}
a:hover {color: #16a085;}
.subheader {color: #707070;}


article h1 {color: #505050;}
article h2 {font-size: 1.4rem; color: #1ABC9C;}
article h4 {margin-bottom: 3px;}
article img {border-radius: 8px; margin-bottom: 10px;}
article table {margin-top: 10px;}
article table tr th, article table tr td {padding: 9px 12px;}
article table tr th {background: rgba(25, 188, 156, 0.8); text-align: center; color: #fff;}



div.panel {background: #fff; border: 1px solid #DDD;}'
#content {min-height: 500px;}


#footer {background: #505050;padding-top: 15px; margin-top: 15px;}
footer.row ul {margin-left: 0;}
footer.row h6 {color: #fff;}
footer.row a {color: #CCC;}
footer.row a:hover {color: #1ABC9C;}
footer.row li, footer.row p {font-size: 13px; color: #fff;list-style: none;}


#header {background: #f5f5f5 url('../images/wire.jpg')right center no-repeat; padding: 10px 0 35px; border-bottom: 3px solid #1ABC9C;}
.top-bar {background: transparent;}
.top-bar-section ul {margin-top: 4px;}
.top-bar-section ul li {background: transparent; font-variant: small-caps; margin-left: 8px;}
.top-bar-section li:not(.has-form) a:not(.button) {background: transparent; border-radius: 8px;}

.top-bar-section ul li a {color: #fff; font-size: 1rem;}
.top-bar-section li:not(.has-form) a:not(.button):hover {color: #fff; background: #1ABC9C;}
.top-bar .name h1 {font-size: 1.8rem;font-family: 'Lobster', cursive;}
.top-bar .name h1 a {color: #fff;}
.top-bar .name h1 white {color: #fff; font-size: 30px;font-family:"Helvetica Neue","Helvetica"; }
.top-bar .name h1 red {color: #e74c3c;font-size: 40px; font-family:"Helvetica Neue","Helvetica"; vertical-align: middle;}

.top-bar .toggle-topbar.menu-icon a {color:#fff;}
.top-bar .toggle-topbar.menu-icon a span:after {box-shadow: 0 0 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;}

.top-bar.expanded .title-area {background: #1ABC9C; border-bottom: 2px solid #1ABC9C;}
.top-bar.expanded h1 a {color: #fff;}


@media only screen and (max-width:40em) { 
    #header {padding: 0;}
    #header .columns {padding: 0;}
    .top-bar-section li:not(.has-form) a:not(.button){border-radius: 0;}
    .top-bar-section ul li {margin-left: 0px;}
}


.social {padding-bottom: 15px;}
.social a {color: #fff;}


#welcome img {border-radius: 50%;float: left; margin-right: 10px;}
#welcome h3 {color: #1ABC9C;}
#welcome p { font-size: 12px;}
#welcome .panel {padding: 10px; border-radius: 12px; margin-top: 10px;}


#sidebar .panel {padding: 12px;}
#sidebar ul {margin-left: 0;}
#sidebar h6{font-variant: small-caps; font-size: 13px; font-weight: 600;color: #1ABC9C; margin-bottom: 5px; text-align: center;}
#sidebar li {font-size: 12px; margin-top: 5px; margin-bottom: 5px;list-style: none; padding-left: 0;}
#sidebar li a {padding: 0; color: #707070;}
#sidebar ul li a:hover {color: #404040;}
#sidebar hr { border-color: #DDD; border-style: dashed;margin: 8px 0;}


.info {padding-top: 4px;padding-bottom: 4px; margin-bottom: 5px;}
.info ul.tags {margin-top: 5px;}
.info li {font-size: 11.5px; color: #a5a5a5; padding-bottom: 0;}
.info li strong {color: #1ABC9C;}
.info span a {color: #707070; font-weight: 500;}

ul.circle li {font-size: 18px; font-weight: 500; font-variant: small-caps;}
ul.square li {font-size: 13px; font-variant: normal;}

#label .label{font-size: 1rem; padding: 8px 12px;margin: 5px; font-variant: small-caps;
}