<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" >
    <meta name="description" content="{{ SITE_DESCRIPTION }}">
    {% if USE_FAVICON_LINKS %}
        {% include 'favicon_links.html' %}
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:800|Anonymous+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% if CSS_FIlE %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}">
    {% else %} <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/foundation.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/styles.css">
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
    {% endif %}

    {% if FEED_ALL_ATOM %}
     <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %} 
    
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<!-- Nav Bar -->

<div id="header">
    <div class="row hide-for-small">
        {% if SOCIAL %}
        <div class="social large-12 columns">
            <li style="float: right; text-align: right; font-size: 22px; list-style: none;">
             {% for name, link in SOCIAL %}
                <a href="{{ link }}"><i class="fa fa-{{ name }}-square"></i></a>
             {% endfor %}
            </li>
        </div>
        {% endif %}
    </div>
    <div id="logo" class="row">
        <div class="large-12 columns hide-for-small">
            {% if USE_SITE_LOGO %}
                <div class="large-4 medium-4 large-centered medium-centered columns text-center">
                    <img src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/site_logo.png" alt="{{ SITENAME }}" />
                </div>
            {% else %}
                 <h1><a href="/">{{ SITENAME }}</a></h1>

            {% endif %}
        </div>
    </div>
        <div data-magellan-expedition="fixed">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name show-for-small">
                    <h1><a href="/">{{ SITENAME }}</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
            
              <section class="top-bar-section">
                <ul>                  
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU -%}
                      {% for pg in PAGES %}
                         <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                      {% endfor %}
                    {% endif %}
                    {% if DISPLAY_CATEGORIES_ON_MENU -%}
                      {% for cat, null in categories %}
                         <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                       {% endfor %}
                    {% endif %}
                </ul>
              </section>
            </nav>
        </div>
</div>      

<!-- End Nav -->


<!-- Main Page Content -->
        <div id="main">
            {% block welcome %}
                <div id="welcome" class="parrallax header">
                    <div class="row">
                        <div class="large-8 medium-8 medium-centered large-centered columns">
                           <div class="large-2 medium-2 large-centered medium-centered columns" style="text-align: center;">
                                {% if SITEGRAVATAR %}<img src="{{ SITEGRAVATAR }}" alt="{{ SITENAME }}" />{% endif %}
                           </div>
                          <h1>Welcome to {{ SITENAME }}</h1>
                          <p>{{ SITE_DESCRIPTION }}</p>
                          
                          <div class="large-8 large-centered columns" style="margin-top: 15px;">
                        <div class="row collapse">
                         <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);"> 
                            <div class="large-10 medium-10 large-centered medium-centered columns">
                                <input type="text" placeholder="" class="search-query" name="q" id="tipue_search_input"/>
                            </div>
                         </form> 
                        </div>
                          </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            
            <div id="content" class="row">
                    {% block content %}{% endblock %}
            </div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
</div> 
 <!-- End Main Content -->


<!-- Footer -->
<div id="footer">
    <footer class="row">
            <div class="large-3 medium-3 small-6 columns">
                <h6>Site Map</h6>
                <ul>
                <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                <li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
                </ul>
            </div>
            <div class="large-3 medium-3 small-6 columns">
             {% if categories %}
                <h6>Categories</h6>
                    <ul>
                    {% for cat, null in categories %}
                        <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                    </ul>
             {% endif %} 
            </div>
            <div class="large-3 medium-3 small-6 columns">
                {% if LINKS %}
                    <h6>Links</h6>
                    <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %} 
            </div>
            <div class="large-3 medium-3 small-6 columns">
                {% if SOCIAL %}
                    <h6>Social</h6>
                    <ul>
                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}"><i class="fa fa-{{ name }}"></i>&nbsp;{{ name }}</a></li>
                        {% endfor %}
                        {% if FEED_ALL_ATOM %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="fa fa-{{ name }}"></a></li>
                        {% endif %}
                        {% if FEED_ALL_RSS %}
                            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_rss }}"><i class="fa fa-rss"></a></li>
                        {% endif %} 
                    </ul>
                {% endif %}
            </div>
            <hr>
            <div class="large-6 medium-6 columns">
                    {% if VCARD %}
                        {% include 'hcard.html' %}
                    {% else %}
                        <li>Christopher Clarke</li>                            
                        <li>Email:&nbsp;<a href="mailto:cclarke@chrisdev.com">cclarke@chrisdev.com</a></li>
                    {% endif %}
                </ul>                                                                            
            </div>
            <div id ="colophon" class="large-6 medium-6 hide-for-small columns">
                {% if USE_COLOPHON %}
                  {% include 'colophon.html' %}
                {% else %}
                    <h6><strong>Colophon</strong></h6> 
                    <p> This site is made with <a href="http://python.org">Python</a> using the 
                    <a href="http://pypi.python.org/pypi/pelican/">Pelican static site generator</a>.
                    This theme is <a href="http://github.com/chrisdev/pelican-transcend-foundation">Transcend Foundation</a>
                    by <a href="http://github.com/chrisdev">Christopher Clarke</a> 
                    and <a href="http://github.com/ilendl2">Lendl Smith</a> for Chrisdev
                    </p>
                {% endif %}
            </div>
    </footer>
</div>
{% block js_script %}
<script src="{{ SITEURL }}/{{THEME_STATIC_DIR}}/js/vendor/jquery.js"></script>
<script src="{{ SITEURL }}/{{THEME_STATIC_DIR}}/js/foundation.min.js"></script>
<script>
 $(document).foundation();

  function validateForm(query){
                return (query.length > 0);
            }
</script>
<script>
$(document).ready(function () {
    $(window).scroll(function () {if ($(this).scrollTop() > 100) { $('.scrollup').fadeIn();} else {$('.scrollup').fadeOut();}});
    $('.scrollup').click(function () {$("html, body").animate({scrollTop: 0}, 600);return false;});});
</script>
{% endblock %}
{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}
</body>
