<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}theme/css/foundation.css">
    <link rel="stylesheet" href="{{ SITEURL }}theme/css/foundation-icons.css">
    <link rel="stylesheet" href="{{ SITEURL }}theme/css/styles.css">
    <link rel="stylesheet" href="{{ SITEURL }}theme/css/pygment.css">
   
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="{{ SITEURL }}theme/js/vendor/modernizr.js"></script>
</head>

<body>

<!-- Nav Bar -->

<div id="header">
    <div class="row hide-for-small">
        <div class="social large-12 columns">
            <li style="float: right; text-align: right; font-size: 22px; list-style: none;">
                <a href="#"><i class="fi-social-facebook"></i></a>
                <a href="#"><i class="fi-social-twitter"></i></a>
                <a href="#"><i class="fi-social-linkedin"></i></a>
                <a href="#"><i class="fi-social-youtube"></i></a>
            </li>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-4 hide-for-small columns">
            <a href="/"><img src="{{ SITEURL }}theme/images/chris_dev_topbar_logo.png" alt="" /></a>
        </div>
        <div class="large-8 medium-8 small-12 columns">
            <nav class="top-bar" data-topbar>
              <ul class="title-area show-for-small">
                <li class="name">
                  <h1><a href="/">Chris Dev Blog</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
            
              <section class="top-bar-section">
                <ul class="right">
                  <li><a href="/">Home</a></li>
                  <li><a href="http://www.chrisdev.com/about_us/">About Us</a></li>
                  <li><a href="http://www.chrisdev.com/contact_us/">Contact Us</a></li>
                </ul>
              </section>
            </nav>
        </div>
    </div>
</div>      

<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row" style="margin-top: 15px;">
    

    <!-- Main Blog Content -->
    <div id="main" class="large-9 medium-9 columns">
        {% block welcome %}
            <div id="welcome" class="large-8 medium-10 medium-centered large-centered columns">
                <div class="panel radius">
                    <h3>Welcome To ChrisDev Blog</h3>
                    <p>I am Christopher Clarke and I write about python.</p>
                </div>
            </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside id="sidebar" class="large-3 medium-3 columns">
        <div class="panel radius">
            <ul>
                <h6>Site</h6>
                <li><a href="{{ SITEURL }}archives.html">Archives</a></li>
                <li><a href="{{ SITEURL }}tags.html">Tags</a></li>
                {% if FEED_RSS %}
                    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                {% endif %}
                {% if FEED_RSS %}
                    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}
                
                <hr>
                                
                {% if categories %}
                    <h6>Categories</h6>
                    {% for cat, null in categories %}
                        <li><a href="{{ SITEURL }}{{ cat.url }}">{{ cat }}</a></li>
                    {% endfor %}
                {% endif %}
                
               <hr>
                                
                {% if LINKS %}
                    <h6>Links</h6>
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                {% endif %} 
                
                <hr> 
                                    
                {% if SOCIAL %}
                    <h6>Social</h6>
                    {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}"><i class="fi-social-{{ name }}"></i>&nbsp;{{ name }}</a></li>
                    {% endfor %}
                {% endif %}
                
                <hr>
                
                <li><a href="/feed/all.atom.xml"><i class="fi-rss"></i>&nbsp; Subcribe to my feed</a></li>
            </ul>
        </div>
        
    </aside> <!-- End Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<div id="footer">
    <footer class="row">
            <div class="large-6 medium-6 columns">
                <h6><strong>Contact Us</strong></h6>                                             
                <ul>                                                                             
                    <li>Phone (Cell):&nbsp;+(868)-773-4644</li>                              
                    <li>Phone (Office):&nbsp;+(868)-221-6277</li>                            
                    <li>Email:&nbsp;<a href="mailto:cclarke@chrisdev.com">cclarke at chrisdev.com</a>⇥  </li>
                </ul>                                                                            
            </div>
            <div class="large-6 medium-6 columns">
                <h6><strong>Need a Website?</strong></h6> 
                <p> If you need a website or a looking for a web based project fill out our
                    <a href="http://www.chrisdev.com/contact_us/client-project-form/">client project form</a>.
                Remember you can always email  us or call us if you have questions or need more information,
                </p>
            </div>
    </footer>
</div>

<script src="{{ SITEURL }}theme/js/vendor/jquery.js"></script>
<script src="{{ SITEURL }}theme/js/foundation.min.js"></script>
<script>
 $(document).foundation();
</script>

</body>
