{% if VCARD %}
<ul id="hcard-{{ VCARD.email }}" class="vcard">
    <li class="fn n">
        {% if VCARD.url %}<a href="{{VCARD.url}}" class="url">{% endif %}
        {% if VCARD.given_name or VCARD.family_name or VCARD.additional_name %}
            {% if VCARD.honorific_prefix %}<span class="honorific-prefix">{{ VCARD.honorific_prefix }}</span>&nbsp;{% endif %}
            {% if VCARD.given_name %}<span class="given-name">{{ VCARD.given_name }}</span>&nbsp;{% endif %}
            {% if VCARD.additional_name %}<span class="additional-name">{{ VCARD.additional_name }}&nbsp;</span>{% endif %}
            {% if VCARD.family_name %}<span class="family-name">{{VCARD.family_name}}&nbsp;</span>{% endif %}
            {% if VCARD.honorific_suffix %}<span class="honorific-suffix">{{VCARD.honorific_suffix}}&nbsp;</span>{% endif %}
        {% else %}
            <span class="org">{{VCARD.org}}</span> 
        {% endif %}
        {% if VCARD.url %}</a>{% endif %}
    </li>
    {% if VCARD.given_name or VCARD.family_name or VCARD.additional_name %}
        {% if VCARD.title %}<li class="title">{{ VCARD.title }}</li>{% endif %}
        {% if VCARD.org %} <li class="org">{{ VCARD.org }}</li> {% endif %}
    {% endif %}
    {% if VCARD.email_work %}
        <li class="email">
        <a class="email" href="mailto:{{ VCARD.email }}">
            <abbr class="type" title="pref">preferred</abbr>{{ VCARD.email_work }} </a>
        <li/>
    {% endif %} 
    {% include 'address.html' %}
    {% if VCARD.tel_home %}
    <li class="tel">
        <dt>Phone (<span class="type">home</span>)</dt>
        <dd><span class="value">{{ VCARD.tel_home }}</span></dd>
   </li> 
    {% endif %}
    {% if VCARD.tel_work %}
    <li class="tel">
        <span>Phone (<span class="type">work</span>)</span>
        <span><span class="value">{{ VCARD.tel_work }}</span></span>
   </li> 
    {% endif %}
    {% if VCARD.tel_fax %}
    <li class="tel">
        <span>FAX (<span class="type">fax</span>)</span>
        <dd><span class="value">{{ VCARD.tel_fax }}</span></dd>
    </li> 
    {% endif %}
</ul>
{% endif %}
