{% if VCARD %}
<ul id="hcard-{{ VCARD.email }}" class="info">
    <li class="name">
        {% if VCARD.url %}<a href="{{VCARD.url}}" class="url">{% endif %}
        {% if VCARD.given_name or VCARD.family_name or VCARD.additional_name %}
            {% if VCARD.honorific_prefix %}<span class="honorific-prefix">{{ VCARD.honorific_prefix }}</span>&nbsp;{% endif %}
            {% if VCARD.given_name %}<span class="given-name">{{ VCARD.given_name }}</span>&nbsp;{% endif %}
            {% if VCARD.additional_name %}<span class="additional-name">{{ VCARD.additional_name }}&nbsp;</span>{% endif %}
            {% if VCARD.family_name %}<span class="family-name">{{VCARD.family_name}}&nbsp;</span>{% endif %}
            {% if VCARD.honorific_suffix %}<span class="honorific-suffix">{{VCARD.honorific_suffix}}&nbsp;</span>{% endif %}
        {% else %}
            <span class="org">{{VCARD.org}}</span> 
        {% endif %}
        {% if VCARD.url %}</a>{% endif %}
    </li>
    
    {% if VCARD.given_name or VCARD.family_name or VCARD.additional_name %}
        {% if VCARD.title %}<li class="title">{{ VCARD.title }}</li>{% endif %}
        {% if VCARD.org %} <li class="org">{{ VCARD.org }}</li> {% endif %}
    {% endif %}
    
    {% include 'address.html' %}
    {% if VCARD.email %}
        <li class="email"><i class="fi-mail"></i> Email : <a href="mailto:{{ VCARD.email }}">{{ VCARD.email }}</a><li/>
    {% endif %}
    {% if VCARD.tel_home %}
        <li class="tel"><i class="fi-telephone"></i> Phone (home) : {{ VCARD.tel_home }}</li>
    {% endif %}
    {% if VCARD.tel_work %}
        <li class="tel"><i class="fi-telephone"></i> Phone (work) : {{ VCARD.tel_work }}</li> 
    {% endif %}
    {% if VCARD.tel_fax %}
        <li class="tel"><i class="fi-print"></i> Fax : {{ VCARD.tel_fax }}</li>
    {% endif %}
</ul>
{% endif %}
