{% if DEFAULT_PAGINATION %}
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
<h6 class="subheader">Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</h6>

    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <li><a href="{{ SITEURL }}/{{ page_name }}.html">&laquo; Prev</a></li>
        {% else %}
            <li><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo; Prev</a></li>
        {% endif %}
    {% endif %}

    {% if articles_page.has_next() %}
        <li><a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next &raquo;</a></li>
    {% endif %}

</ul>
{% endif %}
