{% extends "base.html" %}

{% block title %}Search {% endblock %}

{% block content %}
<article>
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
</article>
{% endblock %}

{% block js_script %}
<script src="{{ SITEURL }}/{{THEME_STATIC_DIR}}/js/vendor/jquery.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch_set.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/tipuesearch/tipuesearch.min.js"></script>
<script>
$(document).ready(function() {
     function validateForm(query){
        return (query.length > 0);
    }

     $('#tipue_search_input').tipuesearch({
         'mode' : 'json',
         'show': 10,
         'newWindow': false,
         'contentLocation': 'tipuesearch_content.json'
     });


});
</script>
{% endblock js_script %}
